* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #1a66ff;
}

img {
	height: 35px;
	margin: 50px auto;
	display: block;
}

form {
	width: 400px;
	background-color: white;
	padding-right: 40px;
	padding-left: 40px;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid white;
	border-radius: 2px;
}

fieldset {
	border: none;
}

h1 {
	text-align: center;
	padding: 30px;
}

input {
	display: block;
	width: 320px;
	height: 55px;
	padding: 15px;
	border: 2px solid grey;
	border-radius: 2px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: grey;
	font-size: 1em;
	background-color: #F0F1F2;
}

button {
	width: 320px;
	height: 55px;
	margin-top: 5px;
	padding: 15px;
	border: 2px solid green;
	border-radius: 2px;
	background-color: green;
	color: white;
	font-size: 1em;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

button:hover {
	background-color: darkgreen;
	cursor: pointer;
}

.forgot_password {
	text-align: center;
	padding: 10px 0 25px 0;
	font-size: .9em;
}

.forgot_password a:link {
	color: grey;
}

.login {
	text-align: center;
	padding-top: 20px;
	margin-bottom: 50px;
	color: white;
}

.login a:link {
	color: white;
}